/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
    color:$palette-color-5;
    padding-left: 10px;

    /* Layout Grid */
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "banner"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "footer"
    ;

    @include responsive-layout {
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }

}

@font-face {
    font-family: "nickainley";
    src: url(../fonts/Nickainley-Normal.otf);
}
@font-face {
    font-family: "roundrope";
    src: url(../fonts/RoundRope.ttf);
}

/* -------- Contenido General -------- */
.contenedor-contenido {
    grid-area: main;
    padding: 20px 50px;
}

.descripcion-pagina {
    text-align: center;
}

h2 {
    color: $palette-color-4;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

a {
    color: $palette-color-1;
}

.img-centro {
    display: block;
    margin: auto;
    height: auto;

    &:hover {
        animation: pulse;
        animation-duration: 2s;
    }
}

.negritas {
    font-weight: bold;
}

.cursivas {
    font-style: italic;
}

.boton-volver {
    display: block;
    text-align: right;
    position: sticky;
    bottom: 40px;
    text-decoration: none;

    &:hover {
        opacity: 0;
        animation: fade-in 2s infinite;
    }

    @keyframes fade-in {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    @include responsive {
        bottom: 50px;
        right: 30px;
    }
}