/* -------- Footer -------- */
footer {
    color: $palette-color-extra-1;
}

.separador-hor {
    width: 80%;
    border-top: 1px solid $palette-color-extra-2;
    margin: auto;
}

.contenedor-footer {
    @include flex-row(space-between);
    grid-area: footer;
    margin-top: 10px;
    padding: 15px 25px;
}

.copyright {
    height: 75px;
    line-height: 100px;
    text-wrap-mode: nowrap;
}

.rrss {
    padding: 0 20px;
    padding-bottom: 15px;

    p {
        text-align: center;
    }

    a {
        display: inline-block;
        margin-left: 5px;
        color: $palette-color-extra-1;

        &:hover {
            color: $palette-color-3;
        }
        
        i {
            font-size: 2.5rem;
        }
    }
}