/* -------- Header -------- */
.contenedor-banner {
    grid-area: banner;

    display: grid;
    grid-template-areas: 
        "logo navbar"
        "titulo titulo";
    align-items: center;
    column-gap: $default-gap;
    row-gap: 10px;
}

.logo {
    height: $logo-height;
    width: $logo-width;
    grid-area: logo;

    img {
        height: $logo-height;
        width: auto;

        &:hover {
            animation: tada;
            animation-duration: 2s;
        }
    }
}

.nav-menu {
    @include flex-row(flex-end);
    grid-area: navbar;
    margin-right: 30px;

    li {
        list-style: none;
        padding: 10px;
        margin-right: $default-gap;
        text-wrap-mode: nowrap;

        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        font-size: large;

        @include responsive {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: $palette-color-5;

            &:hover {
                color: $palette-color-4;
                border: 2px solid $palette-color-4;
                padding: 10px 25px;
                font-family: nickainley;
                text-transform: none;
            }
        }
    }

    @include responsive-layout {
        align-items: flex-end;
    }

}

.titulo {
    grid-area: titulo;
    margin: 0;
    padding-left: $default-gap;
}

h1 {
    color: $palette-color-1;
    font-weight: 400;
    font-style: normal;
    text-align: center;

    font-family: roundrope;
    font-size: 80px;

    @include responsive {
        font-size: revert;
    }
}