$background-color: #faf8f8;

$font-color-body: #4a5759;
$font-color-header: #4a5759;
$font-color-title: #edafb8;
$font-color-subtitle: #b0c4b1;
$font-color-footer: #4a5759;

$link-color: #edafb8;
$link-color-hover: #f7e1d7;
$link-color-volver: #715594;
$link-color-comprar: #4b6689;
$link-color-footer: #b6b1b2;

$link-height-comprar: 24px;

$logo-height: 20vh;
$logo-width: 20vw;

$default-gap: 20px;

$default-margin: 10px;

@mixin flex-row ($justify-content: space-evenly, $wrap: nowrap, $gap: 0px) {
    display: flex;
    flex-flow: row;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    gap: $gap;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin responsive {
    @media (max-width: 640px) {
        @content
    }
}

@mixin responsive-layout {
    @media (max-width: 640px) {
        @include flex-column;
        @content
    }
}

