$palette-color-1: #EDAFB8;
$palette-color-2: #F7E1D7;
$palette-color-3: #DEDBD2;
$palette-color-4: #B0C4B1;
$palette-color-5: #4A5759;
$palette-color-extra-1: #B6B1B2;
$palette-color-extra-2: #E7E7E7;
$palette-color-extra-3: #95B0B4;

$background-color: #FAF8F8;

$logo-height: 20vh;

$default-gap: 20px;
$default-margin: 30px;

@mixin flex-row ($justify-content: space-evenly, $wrap: nowrap, $gap: 0px) {
    display: flex;
    flex-flow: row;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    gap: $gap;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin responsive {
    @media (max-width: 640px) {
        @content
    }
}

@mixin responsive-layout {
    @media (max-width: 640px) {
        @include flex-column;
        @content
    }
}

