/* CSS Reset */
/* * {
    margin: 0;
    padding: 0;
} */

/* -------- Propiedades generales -------- */
body {
    background-color: #d8d8ce;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
    color: #484241;
    padding-left: 10px;

    /* Layout Grid */
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "banner"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "footer"
    ;
}

@font-face {
    font-family: "wbeach";
    src: url(../fonts/White\ Beach.otf);
}

/* -------- Header -------- */
.contenedor-banner {
    grid-area: banner;


    display: grid;
    grid-template-areas: 
        "logo navbar"
        "titulo titulo";
    align-items: center;
    column-gap: 20px;
    
}

.logo {
    height: 20vh;
    width: 20vh;
    grid-area: logo;
}

.logo img {
    height: 20vh;
    width: 20vh;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    grid-area: navbar;
}

.nav-menu li {
    list-style: none;
    padding: 10px;
    margin-right: 20px;
    text-wrap-mode: nowrap;
}

.nav-menu li a {
    text-decoration: none;
    color: #6d7f94;
}

.titulo {
    grid-area: titulo;
    margin: 0;
    padding-left: 20px;
}

h1 {
    color: #715594;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* -------- Contenido -------- */
.contenedor-contenido {
    grid-area: main;
    /* border: #6d7f94 solid 2px; */
    margin-top: 10px;
    padding: 20px;
}

h2 {
    color: #4b6689;
    font-family: wbeach;
    font-weight: 300;
}

a {
    color: #73ab7d;
}

.img-carrousel {
    height: 50vh;
    width: 70vw;
}

.autor {
    font-style: italic;
}
.negritas {
    font-weight: bold;
}

.link-compra {
    color: #4b6689;
}

.libros {
    display: flex;
    flex-flow: row;
}

.boton-volver {
    display: inline-block;
    padding: 10px;
}

/* -------- Footer -------- */
footer {
    color: #684d87;
}

.contenedor-footer {
    grid-area: footer;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.copyright {
    height: 75px;
    line-height: 100px;
}

.rrss {
    padding: 0 20px;
    padding-bottom: 15px;
}

.rrss p {
    text-align: center;
}

.rrss a {
    display: inline-block;
    margin-left: 5px;
}