/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* -------- Propiedades generales -------- */
body {
    background-color: #d8d8ce;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
    color: #484241;
    padding-left: 10px;

    /* Layout Grid */
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "banner"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "footer"
    ;
}

@font-face {
    font-family: "wbeach";
    src: url(../fonts/White\ Beach.otf);
}

/* -------- Header -------- */
.contenedor-banner {
    grid-area: banner;

    display: grid;
    grid-template-areas: 
        "logo navbar"
        "titulo titulo";
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
}

.logo {
    height: 20vh;
    width: 20vh;
    grid-area: logo;
}

.logo img {
    height: 20vh;
    width: 20vh;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    grid-area: navbar;
    margin-right: 30px;
}

.nav-menu li {
    list-style: none;
    padding: 10px;
    margin-right: 20px;
    text-wrap-mode: nowrap;
}

.nav-menu li a {
    text-decoration: none;
    color: #6d7f94;
}

.titulo {
    grid-area: titulo;
    margin: 0;
    padding-left: 20px;
}

h1 {
    color: #715594;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* -------- Contenido General -------- */
.contenedor-contenido {
    grid-area: main;
    margin-top: 10px;
    padding: 20px;
}

h2 {
    color: #4b6689;
    font-family: wbeach;
    font-weight: 300;
}

a {
    color: #73ab7d;
}

.negritas {
    font-weight: bold;
}

.boton-volver {
    display: block;
    text-align: right;
    position: sticky;
    bottom: 40px;
    color:#715594;
}

/* -------- Contenido Index -------- */
.contenido-index {
    /* Layout de la sección principal usando Grids */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.seccion-favs {
    grid-column: span 2 / span 2;
}

.seccion-lanzamientos {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.lanzamientos {
    display: flex;
    flex-flow: row;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 40px;
}

.lanzamientos img {
    width: 100%;
    height: auto;
}

.lanzamientos span {
    display: block;
    text-align: center;
}

.seccion-recs {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.seccion-recs article {
    margin-bottom: 30px;
    padding: 15px;
}

.rec-frame {
    width: 100%;
    height: auto;
}

.img-carrousel {
    height: auto;
    width: 100%;
    margin-top: 40px;
}

/* -------- Contenido Lecturas -------- */
.botones-grid {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 20px;
}

.libros {
    display: flex;
    flex-flow: row;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.libros article {
    min-width: 20vw;
    max-width: 25vw;
}

.libros article h2, p {
    padding: 10px 0;
}

.rating-libro {
    display: block;
    text-align: center;
    margin: auto;
}

.autor {
    font-style: italic;
}

.link-compra {
    height: 24px;
    text-align: center;
}
.link-compra a {
    color: #4b6689;
}

.link-compra img {
    margin-right: 10px;
    vertical-align: middle;
}



/* -------- Footer -------- */
footer {
    color: #684d87;
}

.contenedor-footer {
    grid-area: footer;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px;
}

.copyright {
    height: 75px;
    line-height: 100px;
    text-wrap-mode: nowrap;
}

.rrss {
    padding: 0 20px;
    padding-bottom: 15px;
}

.rrss p {
    text-align: center;
}

.rrss a {
    display: inline-block;
    margin-left: 5px;
}

/* -------- Responsive design -------- */
@media (max-width: 640px) {
    body {
        height: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-area: navbar;
        margin-right: 30px;
    }

    .nav-menu li {
        margin: 0;
    }

    .contenido-index {
        /* Layout de la sección principal usando Grids */
        display: flex;
        flex-direction: column;
    }

    .boton-volver {
        position: sticky;
        bottom: 50px;
        right: 30px;
    }

    .lanzamientos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .libros {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        gap: 30px;
        align-items: center;
    }

    .libros article {
        max-width: 90vw;
        text-align: center;
    }

    .link-compra {
        height: 24px;
        text-align: center;
    }
}